body{
    padding: 0;
    margin: 0;
    line-height: 150%;
}
p, h1, h2, h3, h4, h5, h6{
    padding: 0;
    margin: 0;
}
li{
    list-style: none;
}
img{
    width: 100%;
    height: 100%;
}
/*========================================
  リンク
========================================*/
a{
    text-decoration: none;
    color: #333;
}
a:hover{
    cursor: pointer;
    text-decoration: underline;
}

/*=======================================================
ヘッダー
=======================================================*/
header{
    width: 100%;
    border: 1px solid white;
    box-shadow: 0px 1px 10px 2px rgba(0,0,0,0.4);
}
.header-top{
    overflow: hidden;
}
.logo{
    display: block;
    width: 250px;
    height: 80px;
    margin-top: 10px;
    float: left;
}
.logo a{
    display: block;
}
.header-right{
    float: right;
    width: 65%;
}
.search_keyword {
    width: 100%;
    height: 40px;
    padding: 10px 38px;
    font-size: 14px;
    box-sizing: border-box;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border: 2px solid #eee;
    box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.4);
    line-height: 40px;
    -webkit-appearance: textfield;
}
.fa-search{
    color: #777777;
    position: relative;
    top: 33px;
    left: 18px;
}
.header-bottom{
    height: 50px;
    background: #FF3333;
}
.header-bottom ul li a{
    font-size: 14px;
    text-shadow: 1px 1px 0 #333;
}
.header-bottom ul li a:hover{
    text-decoration: none;
}
/*========================================
  ナビゲーション
========================================*/
.nav-left{
    float: left;
}
.nav-right{
    float: right;
}
.nav-left > ul, .nav-right ul{
    height: 50px;
    margin: 0;
    margin-left:10px; 
    padding: 0;
    box-sizing: border-box;
}
.nav-left ul li{
    float: left;
    width: 160px;
    height: 50px;
    position: relative;
    text-align: center;
    border-left: 1px solid white;
    box-sizing: border-box;
}
.nav-left ul li:last-child{
    border-right: 1px solid white;
}
.nav-left ul li a{
    display: block;
    width: 100%;
    line-height: 50px;
    box-sizing: border-box;
    color: white;
}
.nav-left > ul > li:hover a{
    color: #FF3333;
    background: white;
}
.nav-left > ul > li > ul{
    display: none;
    position: absolute;
    top: 50px;
    left: -1px;
    padding: 0;
    margin: 0;
    box-shadow: 1px 6px 10px 0px rgba(0,0,0,0.4);
    z-index: 2;
}
.nav-left ul > li > ul > li > a{
    width: 161px;
    color: #FF3333;
    background: white;
    border-bottom: 1px solid #eee;
}
.nav-left ul > li > ul > li > a:hover{
    color: white;
    background: #FF3333;
    border: none;
}
.nav-right ul li{
    float: right;
}
.nav-right ul li a{
    float: right;
    padding: 2px 20px;
    margin: 10px 0px;
    margin-left: 20px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    font-size: 12px;
}
.nav-right ul li:first-child a{
    border: 1px solid white;
    color: white;
}
.nav-right ul li:first-child a:hover{
    background: white;
    color: #FF3333;
    transition: 0.4s;
}
.nav-right ul li:last-child a{
    background: rgb(60,179,113);
    color: white;
    border: 1px solid rgb(60,179,113);
    box-shadow: 2px 5px 10px 0px rgba(0,0,0,0.4);
}
.nav-right ul li:last-child a:hover{
    background: white;
    color: rgb(60,179,113);
    border: 1px solid rgb(60,179,113);
    box-shadow: 2px 5px 10px 0px rgba(0,0,0,0.4);
    transition: 0.4s;
}
/*========================================
  レイアウト
========================================*/
.site-width{
    width: 980px;
    margin: 0 auto;
}
#contents{
    overflow: hidden;
    margin: 20px auto; 
}
#main{
    margin-top: 80px;
    box-sizing: border-box;
}
.page-1colum #main {
    width: 100%;
}
.page-2colum #main {
    width: 760px;
    float: left;
}
.page-logined #main{
    border: 8px solid #eee;
    padding: 20px;
}
/*========================================================
サイドバー
==========================================================*/
.sidebar{
    width: 200px;
    height: 600px;
    float: left;
    background: #eee;
    padding: 30px 20px;
    margin-top: 80px;
    margin-right: 20px;
    box-sizing: border-box;
    position: relative;
}
.sidebar-title{
    display: block;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    padding-left: 5px;
    margin-bottom: 5px;
}
.sidebar-selectbox{
    position: relative;
    margin-bottom: 20px;
}
.sidebar-selectbox .select-icon:after{
    content: '';
    width: 0;
    height: 0;
    border-top: 9px solid #333;
    border-left: 6px solid transparent;
    border-bottom: 9px solid transparent;
    border-right: 6px solid transparent;  
    top: 16px;
    right: 10px;
    position: absolute;
    pointer-events: none;
}
.sidebar-select{
    display: block;
    width: 150px;
    height: 40px;
    padding: 10px;
    margin: 0 auto;
    font-size: 14px;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.sidebar ul{
    padding: 0;
    margin: 0;
}
.sidebar li{
    margin: 20px 0;
}
.sidebar li:first-child{
    margin-top: 0;
}
.page-logined .sidebar{
    margin: 80px 0 0 20px;
}
/*=========================================================
バナー画像
==========================================================*/
#img-slider{
    height: 400px;
    overflow: hidden;
    margin-bottom: 50px;
    position: relative;
}
.slider-container{
    overflow: hidden;
    position: relative;
    padding: 0;
    margin: 0;
}
.slide-item{
    width: 100vw;
    float: left;
    list-style: none;
    font-size: 32px;
    text-align: center;
    line-height: 400px;
    color: #fff;
    background: #333;
}
.slide-item2{
    background: #4EA1E8;
}
.slide-item3{
    background: #FFCC99;
}
.slider-nav{
    position: absolute;
    color: #fff;
    top: 170px;
    font-size: 3em;
    cursor: pointer;
    z-index: 2
}
.slide-prev{
    left: 60px;
}
.slide-next{
    right: 60px;
}
.current-num-container{
    position: relative;
    padding: 0;
    margin: 0;
    top: -50px;
    z-index: 2;
    display: flex;
    justify-content: center;
}
.current-num{
    margin-right: 5px;
    list-style: none;
    color: rgb(255, 255, 255);
    opacity: 0.7;
    font-size: 0.8em
}
/*=========================================================
コンテンツ
==========================================================*/
.page-title{
    padding: 40px 0;
    color: #333;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
.search-title{
    width: 100%;
    height: 50px;
    padding: 0 10px;
    margin-bottom: 20px;
    background: #eee;
    line-height: 50px;
    box-sizing: border-box;
    overflow: hidden;
}
.search-left{
    float: left;
}
.search-right{
    float: right;
}
.product_new{
    width: 100%;
    overflow: hidden;
    margin-bottom: 20px;
}
.title-container{
    margin-bottom: 10px;
}
.product_new .title-container{
    text-align: center;
}
.title{
    display: inline-block;
    color: #333;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 0px -6px 5px -5px  #FF3333 inset,0px 8px 4px -8px  #FF3333;
}
.list{
    margin: 30px 0;
}
.list .panel{
    height: 140px;
}
.panel-list{
    overflow: hidden;
}
.panel:hover{
    opacity: 0.7;
}
.page-1colum .panel{
    display: block;
    width: 20%;
    padding-right: 15px;
    margin-top: 10px;
    margin-bottom: 30px;
    float: left;
    box-sizing: border-box;
}
.page-2colum .panel{
    display: block;
    width: 25%;
    padding-right: 15px;
    margin-bottom: 30px;
    float: left;
    box-sizing: border-box;
}
.panel-head{
    width: 100%;
    height: 140px;
    box-shadow: 2px 0px 5px 0 rgba(0,0,0,0.4);
}
.panel-body{
    height: 100px;
    padding-top: 5px;
    padding-left: 5px;
    box-shadow: 2px 2px 5px 0 rgba(0,0,0,0.4);
}
.panel-body .fa-heart{
    color :rgb(255, 167, 203);
}
.product-title{
    height: 60px;
    padding-left: 10px;
    margin-bottom: 30px;
    background: #eee;
    font-size: 20px;
    font-weight: bold;
    line-height: 60px;
}
.product-img-container{
    width: 50%;
    float: left;
}
.img-main{
    width: 100%;
    height: 352px;
}
.img-sub{
    overflow: hidden;
    margin-top: 20px;
}
.img-sub .panel{
    width: 33.33333333%;
    height: 100px;
    padding-right: 10px;
}
.product-info-container{
    float: right;
    margin-left: 30px;
}
.product-info-container table{
    border-collapse: collapse;
    border-spacing: 0;
}
.product-info-container th, .product-info-container td{
    border: 1px solid #ddd;
}
.product-info-container th{
    text-align: left;
    background: #eee;
    padding: 30px 30px 30px 10px;
}
.product-info-container td{
    padding: 30px 80px 30px 10px;
}
.productDetail-comment{
    min-height: 200px;
    padding: 20px;
    margin-top: 50px;
    font-size: 18px;
    background: #eee;
    clear: left;
}
.product-buy{
    margin-bottom: 30px;
}
.product-buy .item-left{
    float: left;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 5px;
    font-size: 30px;
    font-weight: bold;
}
.item-right{
    position: relative;
    float: right;
    margin-top: 18px;
    margin-right: 10px;
    color: #eee;
}
.item-right .fa-heart{
    position: absolute;
    left: -50px;
}
.item-right .fav{
    cursor: pointer;
    z-index: 2;
}
.item-right .fav.active{
    color :rgb(255, 167, 203);
    animation: favPushAnimation .2s ease-out;
}
.item-right .fav2{
    cursor: pointer;
    z-index: 1;
}
.item-right .fav2.active{
    color :rgb(255, 167, 203);
    animation: favMoveAnimation 1s ease-out;
}
@keyframes favPushAnimation{
    0%{
        transform: scale(.7);
    }
    100%{
        transform: scale(1);
    }
}
@keyframes favMoveAnimation{
    0%{
        z-index: 3;
        transform: translateY(0) translateX(-3px);
    }
    10%{ transform: translateY(-5px) translateX(3px); }
    20%{ transform: translateY(-10px); }
    30%{ transform: translateY(-15px); }
    40%{ transform: translateY(-20px) translateX(-3px); }
    50%{ transform: translateY(-25px); }
    60%{ transform: translateY(-30px); }
    70%{ transform: translateY(-35px) translateX(3px); }
    80%{ transform: translateY(-40px); }
    90%{ transform: translateY(-45px); }
    100%{
        ransform: translateY(-50px) translateX(-3px); 
        opacity: 0;
    }
}
.list-table table{
    width: 100%;
    background: #eee;
    margin-bottom: 50px;
    table-layout: fixed;
}
.list-table table th, .list-table table, td{
    height: 35px;
    border: 2px solid #ddd;
}
.list-table table th{
    text-align: left;
}
.list-table table tbody tr:hover{
    cursor: pointer;
    color: #4EA1E8;
    text-decoration: none;
}
.trade-title{
    width: 80px;
    margin-bottom: 10px;
    font-size: 20px;
    box-shadow: 0px -6px 5px -5px  #FF3333 inset,0px 8px 4px -8px  #FF3333;
}
.trade-info{
    overflow: hidden;
    padding: 20px;
    background: #eee;
    border: 2px solid #ddd;
}
.trade-partner{
    float: left;
}
.trade-product{
    float: right;
}
.avatar-img{
    float: left;
    width: 120px;
    height: 120px;
}
.avatar-img .avatar {
    border-radius: 120px;
    -webkit-border-radius: 120px;
    -moz-border-radius: 120px;
}
.product-img{
    float: left;
    width: 150px;
}
.product-img .product{
    width: 100%;
}
.avatar-info, .product-info {
    float: left;
    margin-left: 20px;
}
.msg{
    overflow: scroll;
    height: 500px;
    padding: 30px 80px;;
    margin: 30px 0;
    background: #eee;
    border: 3px solid #ddd;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}
.msg-left, .msg-right{
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
}
.msg-left img, .msg-right img{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
}
.msg-left img{
    margin-top: 10px;
    float: left;
}
.msg-right img{
    margin-top: 2px;
    float: right;
}

.msg-left p, .msg-right p{
    max-width: 60%;
    padding: 5px 15px;
    margin-top: 10px;
    font-size: 16px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    box-sizing: border-box;
    position: relative;
}
.msg-left  p{
    float: left;
    margin: 0;
    margin-left: 30px;
    background: #FFCC99;
}
.msg-left  p::before{
    content: '';
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    transform: rotate(44deg);
    left: -13px;
    top: -10px;
    border-left: 15px solid #FFCC99;;
    border-top: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #FFCC99;;
}
.msg-left p::after{
    content: '';
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    transform: rotate(39deg);
    left: -30.5px;
    top: -50px;
    border-left: 30px solid #eee;
    border-top: 30px solid #eee;
    border-right: 30px solid transparent;
    border-bottom: 30px solid #eee;
}
.msg-left span{
    position: absolute;
    top: 3px;
    left: 85px;
}
.msg-right p{
    float: right;
    margin-top: 16px;
    margin-right: 30px;
    background: #87CEEB;
}
.msg-right p::before{
    content: '';
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    transform: rotate(40deg);
    right: -13px;
    top: -10px;
    border-left: 15px solid transparent;
    border-top: 15px solid #87CEEB;
    border-right: 15px solid #87CEEB;
    border-bottom: 15px solid transparent;
}
.msg-right p::after{
    content: '';
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    transform: rotate(42deg);
    right: -26px;
    top: -50px;
    border-left: 30px solid transparent;
    border-top: 30px solid #eee;
    border-right: 30px solid #eee;
    border-bottom: 30px solid transparent;
}
.msg-right span{
    position: absolute;
    right: 85px;
    top: -5px;

}
.purchasePanel-head{
    background: #eee;
    padding: 20px 30px;
    margin-top: 50px;
    overflow: hidden;
    border: 1px solid #ddd;
}
.purchasePanel-head p{
    float: left;
    margin-right: 30px;
}
.purchasePanel-body{
    padding: 20px 30px;
    margin-bottom: 50px;
    border: 1px solid #ddd;
    overflow: hidden;
}
.purchasePanel-body a{
    float: left;
    display: block;
    overflow: hidden;
}
.purchasePanel-body a:hover p{
    text-decoration: underline;
}
.purchasePanel-img{
    float: left;
    width: 150px;
}
.purchasePanel-body p{
    float: left;
    margin-left: 30px;
}
.purchasePanel-body p span{
    font-size: 18px;
}
/*==================================================================
ページネーション
====================================================================*/
.pagenation{
    text-align: center;
}
.pagenation ul{
    display: inline-block;
    padding: 0;
    margin: 0;
    overflow: hidden;
}
.pagenation ul li{
    float: left;
}
.pagenation ul li a{
    width: 40px;
    height: 40px;
    display: block;
    color: #EA352D;
    background: white;
    border: 2px solid #EA352D;
    box-sizing: border-box;
    margin-left: 1px;
    text-align: center;
    line-height: 36px;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
}
.pagenation ul li a:hover{
    color: white;
    background: #EA352D;
    text-decoration: none;
    box-sizing: border-box;
    text-shadow: 1px 1px 0 #333;
    transition: 0.4s;
}
.pagenation ul li a.active{
    color: white;
    background: #EA352D;
    border: 2px solid #FF3333;
    text-decoration: none;
    text-shadow: none;
    box-sizing: border-box;
    line-height: 36px;
}
/*===================================================================
入力フォーム
====================================================================*/
label{
    display: block;
    margin-bottom: 15px;
    overflow: hidden;
}
label.err input, label.err select{
    background: #f7dcd9;
}
input:focus, select:focus, textarea:focus{
    outline: none;
    border: 2px solid #76c2e6 !important;
}
input[type="text"], input[type="password"],textarea, select{
    width: 100%;
    height: 44px;
    padding-left: 5px;
    font-size: 18px;
    box-sizing: border-box;
    border: 2px solid #eee;
}
textarea{
    height: 80px;
}
select{
    height: 60px;
    padding: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
}
input[type="submit"]:hover{
    cursor: pointer;
}
input[type="date"]{
    width: 200px;
    height: 40px;
    font-size: 14px;
    border: 1px solid #eee;
}
input[type="checkbox"]{
    width: 18px;
    height: 18px;
    background: #f6f5f5;
    vertical-align: middle;
  }
input[type="checkbox"]:hover{
    cursor: pointer;
}
.form-container {
    margin: 0 auto;
}
.form{
    margin: 0 auto;
    padding: 30px;
    width: 400px;
    border: 8px solid #eee;
}
.page-logined .form{
    width: 600px;
    border: none;
}
.page-productDetail .form{
    width: 50%;
    border: none;
}

.form .imgDrop-container{
    float: left;
    width: 33.33333333%;
    padding-right: 10px;
    box-sizing: border-box;
}
.msg-required{
    color: white;
    background: #FF3333;
    padding: 4px;
    font-size: 12px;
    vertical-align: top;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
}
.selectbox{
    position: relative;
}
.selectbox .select-icon:after{
    top: 25px;
}
.area-drop{
    height: 140px;
    background: #eee;
    font-size: 12px;
    text-align: center;
    line-height: 140px;
    position: relative;
    box-sizing: border-box;
}
.file-input{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    opacity: 0;
}
.send-msg textarea{
    width: 100%;
    height: 62px;
    padding: 20px 10px;
    margin-bottom: 10px;
    background: #eee;
    font-size: 18px;
    border: 1px solid #ddd;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    box-sizing: border-box;
    line-height: 22px;
}
/*===================================================================
ボタン
====================================================================*/
.btn-container{
    margin-top: 20px;
    margin-bottom: 50px;
}
.btn{
    width: 100%;
    height: 50px;
    color: white;
    font-size: 16px;
    text-shadow: 1px 1px 0 #333;
    background: #FF3333;
}
.btn:disabled{
    background: #AAAAAA;
    cursor: not-allowed;
}
/*===================================================================
エラーメッセージ
====================================================================*/
.area-msg{
    color: #FF3333;
    padding-bottom: 10px;
}
.err{
    border: 1px solid #c20c33;;
    background: #ffd9e1;
}
/*===================================================================
サクセスメッセージ
====================================================================*/
.msg-success{
    width: 640px;
    height: 70px;
    color: #048099;
    background: #ffffff;
    opacity: 0.8;
    box-shadow: 0 0 30px 0 rgba(100, 100, 100, .15);
    text-align: center;
    line-height: 70px;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
/*===================================================================
フッター
====================================================================*/
#footer{
    width: 100%;
    height: 60px;
    margin-top: 80px;
    color: white;
    background: #EA352D;
    text-align: center;
    line-height: 60px;
}
